@import "style.scss";

.confirm-user-form {
    background-color: $background-color;
    padding: 1%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 30%;
    margin: auto;
    margin-top: 9%;
}

input[type="text"] {
    height: 25%;
}

input[type="submit"] {
    margin-top: 10%;
    cursor: pointer;
    font-size: 80%;
    background: $button-background-color;
    color: $button-text-color;
    padding: 1% 2%;
}

input[type="submit"]:hover {
    background: $button-hover-background-color;
}

.button-container {
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}