$background-color:#F8F8F8;
$button-background-color:#E8E8E8;
$button-text-color:black;
$button-hover-background-color:#DCDCDC;
$error-color:red;
$loading-spinner-border:#f3f3f3;
$loading-spinner-border-top:#383636